<!-- edit_rigging_form.html -->
{% block content %}
    <table class="full-width-table">
        <thead class="header">
        <tr>
            <th>Serial Number</th>
            <th>Model</th>
            {% if not is_aad %}
                <th>Size</th>{% endif %}
            <th>Dom</th>
            <th>Mounted On</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr data-toggle="modal" data-target="#componentModal-{{ component.id }}">
                <td>{{ component.serial_number | default('', true) }}</td>
                <td>{{ component.model | default('', true) }}</td>
                {% if not is_aad %}
                    <td>{{ component.sizes.size | default('', true) }}</td>{% endif %}
                <td>{{ component.dom | default('', true) }}</td>
                <td>{{ component.rig.rig_number if component.rig else '' }}</td>
                <td>{{ component.component_status | default('', true) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for component in components %}
        <div class="modal fade" id="componentModal-{{ component.id }}" tabindex="-1" role="dialog"
             aria-labelledby="componentModalLabel-{{ component.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="view-tab-{{ component.id }}" data-toggle="tab"
                                   href="#view{{ component.id }}" role="tab" aria-controls="view" aria-selected="true">View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="edit-tab-{{ component.id }}" data-toggle="tab"
                                   href="#edit{{ component.id }}" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="rigging-tab-{{ component.id }}" data-toggle="tab"
                                   href="#rigging{{ component.id }}" role="tab" aria-controls="rigging"
                                   aria-selected="false">Rigging</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent-{{ component.id }}">
                            <div class="tab-pane fade show active" id="view{{ component.id }}" role="tabpanel"
                                 aria-labelledby="view-tab-{{ component.id }}">
                                <p><strong>ID:</strong> {{ component.id }}</p>
                                <p><strong>Model:</strong> {{ component.model }}</p>
                                {% if not is_aad %}<p><strong>Size:</strong> {{ component.sizes.size }}</p>{% endif %}
                                <p><strong>DOM:</strong> {{ component.dom }}</p>
                                <p><strong>Mounted On:</strong> {{ component.rig.rig_number if component.rig else '' }}
                                </p>
                                <p><strong>DOM:</strong> {{ component.component_status }}</p>
                            </div>
                            <div class="tab-pane fade" id="edit{{ component.id }}" role="tabpanel"
                                 aria-labelledby="edit-tab-{{ component.id }}">
                                <h3>Editar Componente</h3>
                                <!-- Formulario de edición -->
                                <form action="{{ url_for('edit_component', id=component.id) }}" method="post">
                                    Component Type:
                                    <select name="component_type_id" required>
                                        {% for type in component_types %}
                                            <option value="{{ type.id }}"
                                                    {% if type.id == component.component_type_id %}
                                                    selected {% endif %}>
                                                {{ type.component_type }}
                                            </option>
                                        {% endfor %}
                                    </select><br>
                                    Serial Number: <input type="text" name="serial_number"
                                                          value="{{ component.serial_number }}" required><br>
                                    Date of Manufacture: <input type="date" name="dom"
                                                                value="{{ component.dom.isoformat() }}"><br>
                                    Size:
                                    <select name="size_id" required>
                                        {% for size in component_sizes %}
                                            <option value="{{ size.id }}" {% if size.id == component.size_id %}
                                                    selected {% endif %}>
                                                {{ size.size }}
                                            </option>
                                        {% endfor %}
                                    </select><br>
                                    Status:
                                    <select name="status_id" required>
                                        {% for status in component_statuses %}
                                            <option value="{{ status.id }}" {% if status.id == component.status_id %}
                                                    selected {% endif %}>
                                                {{ status.status }}
                                            </option>
                                        {% endfor %}
                                    </select><br>
                                    Model:
                                    <select name="model_id" required>
                                        {% for model in component_models %}
                                            <option value="{{ model.id }}" {% if model.id == component.model_id %}
                                                    selected {% endif %}>
                                                {{ model.model }}
                                            </option>
                                        {% endfor %}
                                    </select><br>

                                    <input type="submit" value="Update Component">
                                </form>
                            </div>
                            <div class="tab-pane fade" id="rigging{{ component.id }}" role="tabpanel"
                                 aria-labelledby="rigging-tab-{{ component.id }}">
                                <h3>Registros de Rigging</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Rigger</th>
                                        <th>Descripción</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rigging in component.riggings %}
                                        <tr data-id="{{ rigging.id }}" class="rigging-row">
                                            <td>{{ rigging.date }}</td>
                                            <td>{{ rigging.rigger.username }}</td>
                                            <td>{{ rigging.description }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm edit-rigging-btn"
                                                        data-id="{{ rigging.id }}">Editar
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.edit-rigging-btn').forEach(function (button) {
                button.addEventListener('click', function () {
                    var riggingId = button.getAttribute('data-id');
                    var targetModal = $('#editRiggingModal');

                    // Realizar la solicitud AJAX para obtener el formulario de edición
                    fetch(`/rigging/edit/${riggingId}`)
                        .then(response => response.text())
                        .then(html => {
                            targetModal.find('.modal-body').html(html);
                            targetModal.modal('show');
                        })
                        .catch(error => console.error('Error al cargar el formulario de edición:', error));
                });
            });
        });
    </script>
{% endblock %}