{% extends 'index.html' %}

{% block content %}
    <table class="full-width-table-rigging">
        <thead class="header">
        <tr>
            <th>Date</th>
            <th>Rigger</th>
            <th>Number</th>
            <th>Component</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for item in rigging %}  <!-- Cambiado a 'rig' y 'riggings' -->
            <tr class="clickable-row" data-id="{{ item.id }}">
                <td>{{ item.date | default('', true) }}</td>
                <td>{{ item.rigger | default('', true) }}</td>
                <td>{{ item.serial_numbers | default('', true) }}</td>
                <td>{{ item.component.component_type | default('Rig', true) }}</td>
                <td>{{ item.type_rigging.name | default('', true) }}</td>
                <th>{{ item.description | default('', true) }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            console.log("DOM fully loaded and parsed");
            document.querySelectorAll('.clickable-row').forEach(row => {
                console.log("Adding click listener to row");
                row.addEventListener('click', function () {
                    console.log("Row clicked, ID: ", this.getAttribute('data-id'));
                });
            });
        });
    </script>
{% endblock %}
