<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Manufacturer</title>
</head>
<body>
    <h1>Edit Manufacturer</h1>
    <form action="{{ url_for('edit_manufacturer', id=manufacturer.id) }}" method="post">
        Manufacturer Name: <input type="text" name="manufacturer" value="{{ manufacturer.manufacturer }}" required><br>
        <input type="submit" value="Update Manufacturer">
    </form>
    <a href="{{ url_for('view_manufacturers') }}">Back to Manufacturers</a>
</body>
</html>