<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Component</title>
</head>
<body>
    <h1>Add New Component</h1>
    <form action="{{ url_for('add_component') }}" method="post">
        Component Type:
            <select name="component_type_id" required>
                {% for type in component_types %}
                    <option value="{{ type.id }}">{{ type.component_type }}</option>
                {% endfor %}
            </select><br>
        Serial Number: <input type="text" name="serial_number" required><br>
        Date of Manufacture: <input type="date" name="dom"><br>
        Size:
            <select name="size_id" required>
                {% for size in component_sizes %}
                    <option value="{{ size.id }}">{{ size.size }}</option>
                {% endfor %}
            </select><br>
        Status:
            <select name="status_id" required>
                {% for status in component_statuses %}
                    <option value="{{ status.id }}">{{ status.status }}</option>
                {% endfor %}
            </select><br>
        Model:
            <select name="model_id" required>
                {% for model in component_models %}
                    <option value="{{ model.id }}">{{ model.model }}</option>
                {% endfor %}
            </select><br>

        <input type="submit" value="Add Component">
    </form>
    <a href="{{ url_for('view_components') }}">Back to Components</a>
</body>
</html>